[submodule "projects/APITaxi"]
	path = projects/APITaxi
	url = git@github.com:openmaraude/APITaxi.git
[submodule "projects/APITaxi_models"]
	path = projects/APITaxi_models
	url = git@github.com:openmaraude/APITaxi_models.git
[submodule "projects/APITaxi_front"]
	path = projects/APITaxi_front
	url = git@github.com:openmaraude/APITaxi_front.git
[submodule "projects/minimal_operateur_server"]
	path = projects/minimal_operateur_server
	url = git@github.com:openmaraude/minimal_operateur_server.git
[submodule "projects/le.taxi"]
	path = projects/le.taxi
	url = git@github.com:openmaraude/le.taxi.git
[submodule "projects/ZUPC"]
	path = projects/ZUPC
	url = git@github.com:openmaraude/ZUPC.git
[submodule "projects/geofaker"]
	path = projects/geofaker
	url = git@github.com:openmaraude/geofaker.git
[submodule "projects/map"]
	path = projects/map
	url = git@github.com:openmaraude/map.git
[submodule "projects/geotaxi-python"]
	path = projects/geotaxi-python
	url = git@github.com:openmaraude/geotaxi-python.git
[submodule "projects/console"]
	path = projects/console
	url = git@github.com:openmaraude/console.git
