[submodule "projects/APITaxi"]
	path = projects/APITaxi
	url = git@github.com:openmaraude/APITaxi.git
[submodule "projects/minimal_operateur_server"]
	path = projects/minimal_operateur_server
	url = git@github.com:openmaraude/minimal_operateur_server.git
[submodule "projects/ZUPC"]
	path = projects/ZUPC
	url = git@github.com:openmaraude/ZUPC.git
[submodule "projects/geotaxi-python"]
	path = projects/geotaxi-python
	url = git@github.com:openmaraude/geotaxi-python.git
[submodule "projects/console"]
	path = projects/console
	url = git@github.com:openmaraude/console.git
[submodule "projects/tutorials"]
	path = projects/tutorials
	url = git@github.com:openmaraude/tutorials.git
[submodule "projects/www"]
	path = projects/www
	url = git@github.com:openmaraude/www.git
